.custom-name-cell {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxMain {
  background-color: rgb(245, 243, 243);
}

.search-product {
  background-color: #454545;
  border-radius: 10px;
  width: 15%;
}

.search-group {
  background-color: #454545;
  border-radius: 10px;
  text-align: center;
}

.p-panelmenu .p-panelmenu-header a {
  background-color: #1d71c0 !important;
  border: none !important;
}

.p-menuitem-text {
  font-size: 18px;
}

.p-scrollpanel-content {
  padding: 1rem;
}
// box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

.side-bar-dialog {
  width: 14%;
  background-color: #fff6f6;
  color: #fff;
  padding: 5px;
}

.side-bar-dialog .search-input {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.p-datatable-gridlines {
  width: 50%;
}

.boxMain {
  background-color: #dfd6d6;
}

.dialog-title {
  background-color: #7c7979;
  padding-left: 0;
  padding: 0px !important;
}

.Faturdialog {
  background-color: #e9e9e9;
}
