.p-contextmenu.p-component.p-contextmenu-enter-done{
 
    .p-menuitem.p-menuitem-active{
        background-color: rgb(211, 211, 211) !important;
    }
    .p-contextmenu.p-menuitem-link:hover {
        
        background-color: rgb(211, 211, 211) !important;
    }

    .p-menuitem-text{
      color: rgb(65, 65, 65) !important;
    }
  .pi-file{
    color:rgb(65, 65, 65)!important ;
  }
  .p-menuitem-link:hover{
    background-color: aliceblue !important;
   }

}
.p-contextmenu.p-component.p-contextmenu-enter-active{
   
    .p-menuitem-text{
        color: rgb(65, 65, 65) !important;
      }

      .pi-file{
        color:rgb(65, 65, 65)!important ;
      }
      .p-menuitem-link:hover{
        background-color: aliceblue !important;
       }
    
}